<h1>Listado de proyectos</h1>
<%= link_to 'Crear proyecto', projects_new_path %>

<%= form_with url: "/dashboard", method: :get, class: "form-inline" do |form| %>
  <div class="form-group mx-sm-3 mb-2">
   <%= form.label :query, "Filtrar proyectos: " %>
    <%= form.select :status, [ ["todos", :all] , ["Propuesta", :proposal], ["Progreso", :progress], ["Terminado", :finished]],{selected: params[:status]}, class:'form-control' %>
    </div>
   <%= form.submit "Buscar", class: 'btn btn-success mb-2' %>
 <% end %>
 <br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Comenzado</th>
      <th scope="col">Terminado</th>
      <th scope="col">Estado</th>
      <th scope="col">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @projects.each do |project|%>
      <th><%= project.name %></th>
      <td><%= project.description %></td>
      <td><%= project.started_at %></td>
      <td><%= project.ended_at %></td>
      <td><%= project.status %></td>
      <td><%= link_to 'Eliminar', destroy_project_path(project), method: :delete %></td>
    </tr>
    <% end %>
  </tbody>
</table>